{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" sizes="56x56" href="{% static 'favicon.png' %}">
    <meta charset="UTF-8">
    <title title="Attendance Record">Attendance Record | 3rd Year</title>
    <style>
        button{
            background-color: #004445;
            color: white;
            width: 200px;
            height: 60px;
            border-radius: 10px;
            font-size: 15px;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #2c7873;
        }

        th, td {
            text-align: center;
            padding: 8px;
        }
tr:first-child{
    background-color: #2c7873;
}
        /*tr:nth-child(odd){background-color: #004445;*/
        /*}
    </style>
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'jspdf.js' %}"></script>
    <script src="{% static 'pdfFromHTML.js' %}"></script>
</head>

<body style="background-color: #132226; color: white">
<center><h1>CSE Department</h1></center>
<center><h2>Student attendance record</h2></center>
<h2>{{ date }}</h2>
<center><h2>CSE-1 (Group A-1)</h2></center>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th>Subjects:</th>
        <th>WT</th>
        <th>SE</th>
        <th>MC</th>
        <th>BIE</th>
        <th>EIT</th>
        <th>CD</th>
        <th>WT_LAB</th>
        <th>SE_LAB</th>
        <th>EIT_LAB</th>
    </tr>
    {% for i,j,k,l,m,n,o,p,q in a1_total %}
        <tr>
        <th>Total:</th>
        <td>{{ i }}</td>
        <td>{{ j }}</td>
        <td>{{ k }}</td>
        <td>{{ l }}</td>
        <td>{{ m }}</td>
        <td>{{ n }}</td>
        <td>{{ o }}</td>
        <td>{{ p }}</td>
        <td>{{ q }}</td>
    </tr>
    {% endfor %}

    {% for i,j,k,l,m,n,o,p,q in a1_req %}
    <tr>
        <th>Required:</th>
        <td>{{ i }}</td>
        <td>{{ j }}</td>
        <td>{{ k }}</td>
        <td>{{ l }}</td>
        <td>{{ m }}</td>
        <td>{{ n }}</td>
        <td>{{ o }}</td>
        <td>{{ p }}</td>
        <td>{{ q }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <th>Students:</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    {% for a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s in a1_data %}

        <tr>
        <th>{{ a }}</th>

        {% if c < 75 %}
            {% with 'red' as color %}
                <td style="color: {{ color }}">{{ b }}&nbsp;,&nbsp;&nbsp;({{ c }}%)</td>
            {% endwith %}
        {% elif c >= 75%}
          {% with 'white' as color %}
                <td style="color: {{ color }}">{{ b }}&nbsp;,&nbsp;&nbsp;({{ c }}%)</td>
            {% endwith %}
        {% endif %}
        {% if e < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ d }}&nbsp;,&nbsp;&nbsp;({{ e }}%)</td>
            {% endwith %}
        {% elif e >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ d }}&nbsp;,&nbsp;&nbsp;({{ e }}%)</td>
            {% endwith %}
        {% endif %}
        {% if g < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ f }}&nbsp;,&nbsp;&nbsp;({{ g }}%)</td>
            {% endwith %}
        {% elif g >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ f }}&nbsp;,&nbsp;&nbsp;({{ g }}%)</td>
            {% endwith %}
        {% endif %}
        {% if i < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ h }}&nbsp;,&nbsp;&nbsp;({{ i }}%)</td>
            {% endwith %}
        {% elif i >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ h }}&nbsp;,&nbsp;&nbsp;({{ i }}%)</td>
            {% endwith %}
        {% endif %}
        {% if k < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ j }}&nbsp;,&nbsp;&nbsp;({{ k }}%)</td>
            {% endwith %}
        {% elif k >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ j }}&nbsp;,&nbsp;&nbsp;({{ k }}%)</td>
            {% endwith %}
        {% endif %}
        {% if m < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ l }}&nbsp;,&nbsp;&nbsp;({{ m }}%)</td>
            {% endwith %}
        {% elif m >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ l }}&nbsp;,&nbsp;&nbsp;({{ m }}%)</td>
            {% endwith %}
        {% endif %}
        {% if o < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ n }}&nbsp;,&nbsp;&nbsp;({{ o }}%)</td>
            {% endwith %}
        {% elif o >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ n }}&nbsp;,&nbsp;&nbsp;({{ o }}%)</td>
            {% endwith %}
        {% endif %}
        {% if q < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ p }}&nbsp;,&nbsp;&nbsp;({{ q }}%)</td>
            {% endwith %}
        {% elif q >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ p }}&nbsp;,&nbsp;&nbsp;({{ q }}%)</td>
            {% endwith %}
        {% endif %}
        {% if s < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ r }}&nbsp;,&nbsp;&nbsp;({{ s }}%)</td>
            {% endwith %}
        {% elif s >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ r }}&nbsp;,&nbsp;&nbsp;({{ s }}%)</td>
            {% endwith %}
        {% endif %}

    </tr>

    {% endfor %}

</table>
</div>
<br />
<br />
<center><h2>CSE-1 (Group A-2)</h2></center>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th>Subjects:</th>
        <th>WT</th>
        <th>SE</th>
        <th>MC</th>
        <th>BIE</th>
        <th>EIT</th>
        <th>CD</th>
        <th>WT_LAB</th>
        <th>SE_LAB</th>
        <th>EIT_LAB</th>
    </tr>
    {% for i,j,k,l,m,n,o,p,q in a2_total %}
        <tr>
        <th>Total:</th>
        <td>{{ i }}</td>
        <td>{{ j }}</td>
        <td>{{ k }}</td>
        <td>{{ l }}</td>
        <td>{{ m }}</td>
        <td>{{ n }}</td>
        <td>{{ o }}</td>
        <td>{{ p }}</td>
        <td>{{ q }}</td>
    </tr>
    {% endfor %}

    {% for i,j,k,l,m,n,o,p,q in a2_req %}
    <tr>
        <th>Required:</th>
        <td>{{ i }}</td>
        <td>{{ j }}</td>
        <td>{{ k }}</td>
        <td>{{ l }}</td>
        <td>{{ m }}</td>
        <td>{{ n }}</td>
        <td>{{ o }}</td>
        <td>{{ p }}</td>
        <td>{{ q }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <th>Students:</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    {% for a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s in a2_data %}

        <tr>
        <th>{{ a }}</th>
        {% if c < 75 %}
            {% with 'red' as color %}
                <td style="color: {{ color }}">{{ b }}&nbsp;,&nbsp;&nbsp;({{ c }}%)</td>
            {% endwith %}
        {% elif c >= 75%}
          {% with 'white' as color %}
                <td style="color: {{ color }}">{{ b }}&nbsp;,&nbsp;&nbsp;({{ c }}%)</td>
            {% endwith %}
        {% endif %}
        {% if e < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ d }}&nbsp;,&nbsp;&nbsp;({{ e }}%)</td>
            {% endwith %}
        {% elif e >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ d }}&nbsp;,&nbsp;&nbsp;({{ e }}%)</td>
            {% endwith %}
        {% endif %}
        {% if g < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ f }}&nbsp;,&nbsp;&nbsp;({{ g }}%)</td>
            {% endwith %}
        {% elif g >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ f }}&nbsp;,&nbsp;&nbsp;({{ g }}%)</td>
            {% endwith %}
        {% endif %}
        {% if i < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ h }}&nbsp;,&nbsp;&nbsp;({{ i }}%)</td>
            {% endwith %}
        {% elif i >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ h }}&nbsp;,&nbsp;&nbsp;({{ i }}%)</td>
            {% endwith %}
        {% endif %}
        {% if k < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ j }}&nbsp;,&nbsp;&nbsp;({{ k }}%)</td>
            {% endwith %}
        {% elif k >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ j }}&nbsp;,&nbsp;&nbsp;({{ k }}%)</td>
            {% endwith %}
        {% endif %}
        {% if m < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ l }}&nbsp;,&nbsp;&nbsp;({{ m }}%)</td>
            {% endwith %}
        {% elif m >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ l }}&nbsp;,&nbsp;&nbsp;({{ m }}%)</td>
            {% endwith %}
        {% endif %}
        {% if o < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ n }}&nbsp;,&nbsp;&nbsp;({{ o }}%)</td>
            {% endwith %}
        {% elif o >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ n }}&nbsp;,&nbsp;&nbsp;({{ o }}%)</td>
            {% endwith %}
        {% endif %}
        {% if q < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ p }}&nbsp;,&nbsp;&nbsp;({{ q }}%)</td>
            {% endwith %}
        {% elif q >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ p }}&nbsp;,&nbsp;&nbsp;({{ q }}%)</td>
            {% endwith %}
        {% endif %}
        {% if s < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ r }}&nbsp;,&nbsp;&nbsp;({{ s }}%)</td>
            {% endwith %}
        {% elif s >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ r }}&nbsp;,&nbsp;&nbsp;({{ s }}%)</td>
            {% endwith %}
        {% endif %}
    </tr>


    {% endfor %}

</table>
</div>


<br />
<br />
<center><h2>CSE-2 (Group A-3)</h2></center>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th>Subjects:</th>
        <th>WT</th>
        <th>SE</th>
        <th>MC</th>
        <th>BIE</th>
        <th>EIT</th>
        <th>CD</th>
        <th>WT_LAB</th>
        <th>SE_LAB</th>
        <th>EIT_LAB</th>
    </tr>
    {% for i,j,k,l,m,n,o,p,q in a3_total %}
        <tr>
        <th>Total:</th>
        <td>{{ i }}</td>
        <td>{{ j }}</td>
        <td>{{ k }}</td>
        <td>{{ l }}</td>
        <td>{{ m }}</td>
        <td>{{ n }}</td>
        <td>{{ o }}</td>
        <td>{{ p }}</td>
        <td>{{ q }}</td>
    </tr>
    {% endfor %}

    {% for i,j,k,l,m,n,o,p,q in a3_req %}
    <tr>
        <th>Required:</th>
        <td>{{ i }}</td>
        <td>{{ j }}</td>
        <td>{{ k }}</td>
        <td>{{ l }}</td>
        <td>{{ m }}</td>
        <td>{{ n }}</td>
        <td>{{ o }}</td>
        <td>{{ p }}</td>
        <td>{{ q }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <th>Students:</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    {% for a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s in a3_data %}

        <tr>
        <th>{{ a }}</th>
        {% if c < 75 %}
            {% with 'red' as color %}
                <td style="color: {{ color }}">{{ b }}&nbsp;,&nbsp;&nbsp;({{ c }}%)</td>
            {% endwith %}
        {% elif c >= 75%}
          {% with 'white' as color %}
                <td style="color: {{ color }}">{{ b }}&nbsp;,&nbsp;&nbsp;({{ c }}%)</td>
            {% endwith %}
        {% endif %}
        {% if e < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ d }}&nbsp;,&nbsp;&nbsp;({{ e }}%)</td>
            {% endwith %}
        {% elif e >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ d }}&nbsp;,&nbsp;&nbsp;({{ e }}%)</td>
            {% endwith %}
        {% endif %}
        {% if g < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ f }}&nbsp;,&nbsp;&nbsp;({{ g }}%)</td>
            {% endwith %}
        {% elif g >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ f }}&nbsp;,&nbsp;&nbsp;({{ g }}%)</td>
            {% endwith %}
        {% endif %}
        {% if i < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ h }}&nbsp;,&nbsp;&nbsp;({{ i }}%)</td>
            {% endwith %}
        {% elif i >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ h }}&nbsp;,&nbsp;&nbsp;({{ i }}%)</td>
            {% endwith %}
        {% endif %}
        {% if k < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ j }}&nbsp;,&nbsp;&nbsp;({{ k }}%)</td>
            {% endwith %}
        {% elif k >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ j }}&nbsp;,&nbsp;&nbsp;({{ k }}%)</td>
            {% endwith %}
        {% endif %}
        {% if m < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ l }}&nbsp;,&nbsp;&nbsp;({{ m }}%)</td>
            {% endwith %}
        {% elif m >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ l }}&nbsp;,&nbsp;&nbsp;({{ m }}%)</td>
            {% endwith %}
        {% endif %}
        {% if o < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ n }}&nbsp;,&nbsp;&nbsp;({{ o }}%)</td>
            {% endwith %}
        {% elif o >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ n }}&nbsp;,&nbsp;&nbsp;({{ o }}%)</td>
            {% endwith %}
        {% endif %}
        {% if q < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ p }}&nbsp;,&nbsp;&nbsp;({{ q }}%)</td>
            {% endwith %}
        {% elif q >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ p }}&nbsp;,&nbsp;&nbsp;({{ q }}%)</td>
            {% endwith %}
        {% endif %}
        {% if s < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ r }}&nbsp;,&nbsp;&nbsp;({{ s }}%)</td>
            {% endwith %}
        {% elif s >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ r }}&nbsp;,&nbsp;&nbsp;({{ s }}%)</td>
            {% endwith %}
        {% endif %}
    </tr>


    {% endfor %}

</table>
</div>

<br />
<br />
<center><h2>CSE-2 (Group A-4)</h2></center>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th>Subjects:</th>
        <th>WT</th>
        <th>SE</th>
        <th>MC</th>
        <th>BIE</th>
        <th>EIT</th>
        <th>CD</th>
        <th>WT_LAB</th>
        <th>SE_LAB</th>
        <th>EIT_LAB</th>
    </tr>
    {% for i,j,k,l,m,n,o,p,q in a4_total %}
        <tr>
        <th>Total:</th>
        <td>{{ i }}</td>
        <td>{{ j }}</td>
        <td>{{ k }}</td>
        <td>{{ l }}</td>
        <td>{{ m }}</td>
        <td>{{ n }}</td>
        <td>{{ o }}</td>
        <td>{{ p }}</td>
        <td>{{ q }}</td>
    </tr>
    {% endfor %}

    {% for i,j,k,l,m,n,o,p,q in a4_req %}
    <tr>
        <th>Required:</th>
        <td>{{ i }}</td>
        <td>{{ j }}</td>
        <td>{{ k }}</td>
        <td>{{ l }}</td>
        <td>{{ m }}</td>
        <td>{{ n }}</td>
        <td>{{ o }}</td>
        <td>{{ p }}</td>
        <td>{{ q }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <th>Students:</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    {% for a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s in a4_data %}

        <tr>
        <th>{{ a }}</th>
        {% if c < 75 %}
            {% with 'red' as color %}
                <td style="color: {{ color }}">{{ b }}&nbsp;,&nbsp;&nbsp;({{ c }}%)</td>
            {% endwith %}
        {% elif c >= 75%}
          {% with 'white' as color %}
                <td style="color: {{ color }}">{{ b }}&nbsp;,&nbsp;&nbsp;({{ c }}%)</td>
            {% endwith %}
        {% endif %}
        {% if e < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ d }}&nbsp;,&nbsp;&nbsp;({{ e }}%)</td>
            {% endwith %}
        {% elif e >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ d }}&nbsp;,&nbsp;&nbsp;({{ e }}%)</td>
            {% endwith %}
        {% endif %}
        {% if g < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ f }}&nbsp;,&nbsp;&nbsp;({{ g }}%)</td>
            {% endwith %}
        {% elif g >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ f }}&nbsp;,&nbsp;&nbsp;({{ g }}%)</td>
            {% endwith %}
        {% endif %}
        {% if i < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ h }}&nbsp;,&nbsp;&nbsp;({{ i }}%)</td>
            {% endwith %}
        {% elif i >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ h }}&nbsp;,&nbsp;&nbsp;({{ i }}%)</td>
            {% endwith %}
        {% endif %}
        {% if k < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ j }}&nbsp;,&nbsp;&nbsp;({{ k }}%)</td>
            {% endwith %}
        {% elif k >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ j }}&nbsp;,&nbsp;&nbsp;({{ k }}%)</td>
            {% endwith %}
        {% endif %}
        {% if m < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ l }}&nbsp;,&nbsp;&nbsp;({{ m }}%)</td>
            {% endwith %}
        {% elif m >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ l }}&nbsp;,&nbsp;&nbsp;({{ m }}%)</td>
            {% endwith %}
        {% endif %}
        {% if o < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ n }}&nbsp;,&nbsp;&nbsp;({{ o }}%)</td>
            {% endwith %}
        {% elif o >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ n }}&nbsp;,&nbsp;&nbsp;({{ o }}%)</td>
            {% endwith %}
        {% endif %}
        {% if q < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ p }}&nbsp;,&nbsp;&nbsp;({{ q }}%)</td>
            {% endwith %}
        {% elif q >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ p }}&nbsp;,&nbsp;&nbsp;({{ q }}%)</td>
            {% endwith %}
        {% endif %}
        {% if s < 75 %}
            {% with 'red' as color %}
            <td style="color: {{ color }}">{{ r }}&nbsp;,&nbsp;&nbsp;({{ s }}%)</td>
            {% endwith %}
        {% elif s >= 75 %}
            {% with 'white' as color %}
            <td style="color: {{ color }}">{{ r }}&nbsp;,&nbsp;&nbsp;({{ s }}%)</td>
            {% endwith %}
        {% endif %}
    </tr>


    {% endfor %}

</table>
</div>
<br/>
<br/>
{#<center><button id="button">Download as PDF</button></center>#}
</body>
<script>
    $('#button').click(function () {
        HTMLtoPDF();

    })
</script>
</html>